
.App-header{
   
    height: 15vh;
    width: 100%;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.5);
    z-index: 100;   
    
}

/*-------------------------------------------------------------------------------------------------------*/

.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    
    
}
.logo-img{
    width: 200px;
    height: 100px;
    
}

/*---------------------------------------------------------------------------------------------------------*/

.tudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 40px;
  
    width: 100%;
 
}


.App-header ul li{
    display: inline-block;
    padding-left: 0 50px;
    margin: 0 5px;
}
.App-header .icons i{
    font-size: 22px;
    color: black(255, 254, 254);
    margin: 0 8px;
    cursor: pointer;
    transition: 0.3s;
}


li a{
    min-width: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}



