
.home-img{
    width: 500px;
    
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    
    margin: 5px auto;
    transition: all 0.3s;
}


.home{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    color: black;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    background: #9e10d6;
}

.home-img img{
    width: 100%;
}
