*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    width: 100%;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(91,194,215,1) 55%, rgba(155,127,210,1) 100%);
    background-size: cover;
    background-position: center;

}
